p {
	color: red;
}

p.stanga {
	color: purple;
	width: 830px; 
	
}

h1.fixed{
	position: fixed;
	left:830;
	color:red;
	
}

h1.priz{
	color: red;
	font-size: 50px;
}

h3.date{
	color: green;
	font-size: 30px;
}

img.inchisoare{
	position: absolute;
	right: 5px;
	width: 700px;
}

prizonier.img.prizonier{
	position: relative;
	right: 5px;
	width: 500px;
}

.carusel{
	position: absolute;
	right: 100px;
	height: 50%;
	width: 500px;
}

.imagine_carusel{
     width:100%;
	 height:99%;
	 object-fit: cover;
}

.container_carusel{
	background: blue;
	height:100%;
	position: relative;
	overflow: hidden; 
}

.carusel_catalog{
	padding: 0;
	margin: 0;
	list-style: none;
	position:relative;
	height: 100%;
	transition: transform 250ms ease-in;
}

.slide_carusel{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.buton_carusel{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	background: transparent;
	border: 0;
	cursor: pointer;
}

.buton_carusel--stang{
	left: -40px;
}

.buton_carusel--drept{
	right: -40px;
}

.buton_carusel img{
	width:30px;
}

.navigare_carusel{
	display: flex;
	justify-content: center;
	padding: 10px 0;
	background:pink;
}

.indicator_carusel{
	border: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: white;
	margin: 0 12px;
	cursor: pointer;
}

.indicator_carusel.slide-curent{
	background: black;
}

.is-hidden{
display: none;
}














